<body>
    <header>
        <div class="logo_container">
            <a href="/"><img src="/resources/img/logo-transparent.png" alt="Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/users">Registrar Usuario</a></li>
            </ul>
        </nav>
    </header>